{% extends 'index.html' %} {% block content %}

<div>
    <h1>Home Page</h1>
    <br />
    <div>
        <div>
            <h2>Rooms:</h2>
            <p><a href="{% url 'create-room' %}">Create New Room</a></p>
        </div>
        <br>
        <div>
            {% for room in rooms %}
            <div>
                <h3>
                    <span>@{{room.host.username}}</span>&nbsp; 
                    <a href="{% url 'edit-room' room.id %}">edit</a>
                    <a href="{% url 'delete-room' room.id %}">delete</a>
                </h3>
                <h3>
                    <span>{{room.id}} --</span>
                    <a href="{% url 'room' room.id %}"> {{room.name}} </a>
                </h3>
                <h3>{{room.topic}}</h3>
                <hr />
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock content %}
