{% extends 'index.html' %} {% block content %}

<div class="pageTitleContainer">
    <h1>Rooms</h1>
</div>
<div class="pageGrid">
    <div class="sideBar">
        <h2>Topics</h2>
        <div class="topicsList">
            <a class="buttons" href="{% url 'home' %}"><h3>All</h3></a>
            {% for topic in topics %}
                <a class="buttons" href="{% url 'home' %}?q={{ topic.name }}"><h3>{{topic}}</h3></a>
            {% endfor %}
        </div>
    </div>
    <div class="roomListContainer">
        <h2>{{ room_count }} rooms found</h2>
        {% for room in rooms %}
        <div class="roomContainer">
            <h3>
                <span>@{{room.host.username}}</span>&nbsp;
                <a class="button" href="{% url 'edit-room' room.id %}">edit</a>
                <a class="button" href="{% url 'delete-room' room.id %}">delete</a>
            </h3>
            <h3>
                <span>{{room.id}} --</span>
                <a class="buttons" href="{% url 'room' room.id %}"> {{room.name}} </a>
            </h3>
            <h3>{{room.topic}}</h3>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}
